body 
{
  text-align: center;
  background-color: #FEEEEF; 
}

div.row
{
  margin: 2px auto;
  height: 213px;
  width: 342px;
  border: 0px solid #bebebe;
}

div.img
{
  border: 1px solid #bebebe;
  height: auto;
  width: auto;
  margin: 5px; 
  float: left;
  text-align: center;
}

div.img img
{
  width: 155px;
  height: 155px;
  display: inline;
  margin: 3px;
  border: 1px solid green;
}

div.img a:hover img
{
  border: 1px solid #333333;
}

div.desc
{
  text-align: center;
  font-weight: normal;
  width: 155px;
  font-size: 12px;
  margin: 10px auto;
}
