body 
{
  background-color: #FEEEEF;
}

br
  { 
  border:2px solid red;
  }

div.img
  {
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  margin:3px; 
  float:left;
  text-align:center;
  }

div.img img
  {
  width:155px;
  height:155px;
  display:inline;
  margin:3px;
  border:1px solid #bebebe;
  }

a
  {
   
  }

div.img a:hover img
  {
  border:1px solid #333333;
  }

div.desc
  {
  text-align:center;
  font-weight:normal;
  width:140px;
  font-size:12px;
  margin:10px auto 10px auto;
  }
